body{
    width: 800px;
    background-color: rgb(198, 198, 223);
    text-align: center;
}

.classificacao{
 display: inline-block;

}

button{
    background-color: #4e86c7;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

img{
   padding: 10px;

}