#texto{
    text-align: center;
}
li:hover{
    background-color: rgb(224, 199, 199);
}
  li:active{
    font-family:Verdana, Geneva, Tahoma, sans-serif 
           
  }

  ul, ol{
      list-style: none;
  }
      