h1{
    font-size:65px; color: orange; font-family:sans-serif ;
}

 .list-style {
     background-color:rgb(86, 131, 43); line-height: 2;
 }

.p-style {
    background-color: brown; line-height: 1.5;
    text-align: center; text-decoration:underline
}

 p {
   font-weight: 600; font-size: 3em; font-style: italic;
 }

  body {
       background-color: rgb(89, 118, 168);    font-size: 16px 
  }
  
  .azul {
  background-color: blue;
  }

  .preto{
      background-color: rgba(0, 0, 0, 0.863);
  }

  .verde{
      background-color: chartreuse;
  }